@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;